.App {
  text-align: center;
}
.spikes_green {
  position: relative;
  background: transparent;
  height: 5vh;
}

.spikes_green::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 130px;
  background-size: 130px 100%;
  background-image: linear-gradient(135deg, #81B29A 25%, transparent 25%), linear-gradient(225deg, #81B29A 25%, transparent 25%);
  background-position: 0 0;
  
}

.spikes_tan {
  position: relative;
  background: transparent;
  height: 5vh;
}

.spikes_tan::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 130px;
  background-size: 130px 100%;
  background-image: linear-gradient(135deg, #F4F1DE 25%, transparent 25%), linear-gradient(225deg, #F4F1DE 25%, transparent 25%);
  background-position: 0 0;
  
}

strong{
  color: #bc4749;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.primary_button {
  
  width: 30%;
  padding: 10px;
  background-color: #bc4749;
  border-radius: 30px;
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  border: 5px solid  #b5838d;
  transition: width .5s;
}

.primary_button:hover {
    box-shadow: 5px #888888;
    width: 35%;
}

.secondary_button {
  width: 25%;
  padding: 10px;
  background-color: transparent;
  border-radius: 30px;
  color: #bc4749;
  font-family: 'Nobile', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  border: 5px solid  #bc4749;
  transition: width .5s;

}

.secondary_button:hover{

  box-shadow: 5px #888888;
  width: 30%;
}

.tertiary_button {
  width: 60%;
  height: 60px;
  margin-left: 5%;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 30px;
  color: #bc4749;
  font-family: 'Nobile', sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: 4px solid  #bc4749;

}

.tertiary_button:hover{
  background-color: #bc4749;
  color: white;
  
}
  

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
